*.DS_Store
misc_docs/.DS_Store

.Rproj.user

*.aiff

/archive/midd_comunicacion_1_5_2015/library/assets/audio/
/archive/midd_comunicacion_1_5_2017/library/assets/audio/
/archive/midd_comunicacion_1_5_2018/library/assets/audio/
/archive/midd_comunicacion_1_5_2020/library/assets/audio/
/midd_comunicacion_1_5_2021/materiales/assets/evaluacion/examenOral1/
/midd_comunicacion_1_5_2021/materiales/assets/evaluacion/presentacion1/
/midd_comunicacion_1_5_2021/materiales/assets/evaluacion/presentacion2/
/midd_comunicacion_1_5_2021/materiales/assets/evaluacion/prueba_de_colocacion/
