*.DS_Store
misc_docs/.DS_Store

.Rproj.user

*.aiff

/archive/midd_comunicacion_1_5_2015/library/assets/audio/
/archive/midd_comunicacion_1_5_2017/library/assets/audio/
/archive/midd_comunicacion_1_5_2018/library/assets/audio/
/archive/midd_comunicacion_1_5_2020/library/assets/audio/
